.gitignore
*.pyc
data/Dataset_Challenge_Academic_Dataset_Agreement.pdf
data/Yelp_Dataset_Challenge_Terms_round_5.pdf
data/yelp_academic_dataset_business.json
data/yelp_academic_dataset_checkin.json
data/yelp_academic_dataset_review.json
data/yelp_academic_dataset_tip.json
data/yelp_academic_dataset_user.json